.home-main {
    padding-top: 153px;
    padding-bottom: 40.05px;
    background: url("/public/images/home-main-bg.png") no-repeat;
    background-size: contain;
}

.home-main-title {
    width: 500px;
    margin-left: 165px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    letter-spacing: -.025em;
    color: #fff;
}

.home-main-desc {
    width: 405px;
    margin-bottom: 40px;
    font-family: "Lexend Deca", system-ui;
    font-size: 15px;
    line-height: 1.2;
    color: #fff;
}

.home-main-pagination {
    margin-top: 50px;
    margin-left: 1115px;
    gap: 24px;

    .pagination-item {
        width: 62px;
        height: 62px;
        border: 3px solid #fff;
        border-radius: 100%;
    }

    .pagination-item__active {
        background-color: #fff;
    }
}

.home-features {
    height: 291px;
    margin-top: 160px;
    position: relative;

    .path-line {
        width: 974px;
        height: 1px;
        border: 15px solid #E5ECF4;
    }
}

.home-features-box {
    gap: 30px;
    position: absolute;
    top: -37px;
    left: 165px;
}

.home-features-item {
    .features-item-title {
        margin-top: 40px;
        font-family: "Space Mono", monospace;
        font-size: 24px;
        letter-spacing: -.017em;
        color: #495567;
    }

    .features-item-desc {
        width: 350px;
        margin-top: 27px;
        font-family: "Lexend Deca", system-ui;
        font-size: 15px;
        line-height: 1.2;
        color: #939CAA;
    }
}


