.custom_btn {
    display: block;
    width: 180px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 1px solid #FCB72B;
    cursor: pointer;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 15px;
    color: #fff;

    &:hover {
        background-color: transparent !important;  
        color: #FCB72B;
    }
}